@use "../../mixins" as *;
@use "../../utils" as *;

#services {
  display: grid;
  place-items: center;

  header {
    text-align: center;
    width: 900px;

    h1 {
      font-size: map-get($font-sizes, "xl");
      position: relative;
    }

    @include breakpoints(900px) {
      width: 100%;
    }
  }

  .service-container,
  .expertise-container {
    @include displayFlex(center);
    width: 1200px;
    gap: 40px;

    @include breakpoints(1200px) {
      width: 100%;
    }

    .service {
      width: 300px;
      text-align: center;

      img {
        width: 100px;
      }
    }
  }

  .expertise-container {
    width: 100%;
    background: url(https://bananweb.com/wp-content/themes/seosight/images/animated/mountain2.png);
    background-size: cover;
  }
}
