@use "../utils" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  color: $main-font-dark;
  background: url();
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
}

h2 {
  display: inline-block;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 25%;
    bottom: 0;
    left: 0;
    border-radius: 3px;
    background: #11bfbb;
  }
  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 72%;
    bottom: 0;
    right: 0;
    border-radius: 3px;
    background: #11bfbb;
  }
}
