@use "../../mixins" as *;
@use "../../utils" as *;

.main-content {
  @include displayFlex(center);

  img,
  header {
    width: 500px;

    @include breakpoints(500px) {
      width: 100%;
    }
  }

  i {
    color: map-get($map: $bg-colors, $key: "orange");
  }
}

h2 {
  width: 100%;
}
