@use "../../mixins" as *;

.traits {
  @include displayFlex(center);
  width: 1200px;
  gap: 40px;

  @include breakpoints(1200px) {
    width: 100%;
  }

  .service {
    width: 300px;
    text-align: center;

    img {
      width: 100px;
    }
  }
}
