@use "../utils" as *;

.btn {
  border-radius: 50px;
  color: $main-font-light;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: map-get($map: $font-sizes, $key: "md");
}

.btn-dark {
  background: $main-bg-dark;
}

.btn-light {
  background: $neon;
}
