@use "../mixins" as *;
@use "../utils" as *;

footer {
  display: grid;
  place-items: center;
  background: $main-bg-dark;
  color: $secondary-color;
  position: relative;
  padding-bottom: 60px;

  h2 {
    color: $main-font-light;
  }

  .footer-content {
    width: 1200px;

    @include breakpoints(1200px) {
      width: 100%;
    }

    .info-container {
      @include displayFlex(space-between);
    }

    .footer-info {
      width: 500px;

      .social-medias {
        @include displayFlex(flex-start);
        img {
          width: 30px;
        }
      }

      @include breakpoints(1200px) {
        width: 100%;
      }
    }

    .service-links {
      width: 250px;
      a {
        @include displayFlex(flex-start);
        transition: $transition;

        &:hover {
          padding-left: 20px;
          color: #11bfbb;
        }
      }
    }

    .contacts {
      @include displayFlex(space-between);
      border-top: $border-style;

      div {
        @extend .contacts;
        border: none;
      }

      img {
        width: 50px;
      }
    }
  }

  .footer-end {
    height: 40px;
    display: grid;
    place-items: center;
    background: $tertiary-bg;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;

    @include breakpoints(360px) {
      height: 60px;
    }
  }
}
